mat-card.login {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

mat-card.signup {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
  box-shadow: 2px;
}
