
.cover {
  width: 200px;
  height: 285px;
}

.cover img {
  width: 200px;
  height: 285px;
  border: 2px solid gray;

}


.cover p {
  font-family: "Arial Black";
  text-align: center;
  padding: 10px 20px;
}

