<h2 mat-dialog-title>Book detail</h2>
<mat-dialog-content class="mat-typography">
  <h3> {{"Tittle: " + bookDetail.volumeInfo.title }}</h3>
  <div>
    <h3> {{"Authors: " + bookDetail.volumeInfo.authors.toString().replace(',', ', ') }}</h3>
  </div>

    <div class="cover">
      <img src="{{bookDetail.volumeInfo.imageLinks.thumbnail.replace('=curl&source=gbs_api','')}}" alt=""
           style="width:100%">
      <p>{{"Publisher: " + bookDetail.volumeInfo.publisher.toString()}}</p>
    </div>
  <br><br><br><br>
  <p>{{bookDetail.volumeInfo.description.toString()}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
