

.cover {

}

.cover img {
  width: 200px;
  height: 285px;
  margin-left: 10px;
  display: block
}

.cover p {
  font-family: "Arial Black";
  text-align: center;
  padding: 10px 20px;
}

.bookDescription{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: italic;
      text-align: justify;
      text-justify: inter-word;

}
