.cover img {
  width: 200px;
  height: 285px;
  margin-left: 10px;
  display: block
}


.cover img:hover {


}

.cover p {
  font-family: "Arial Black";
  text-align: center;
  padding: 10px 20px;
}

.bookDescription {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: justify;
  text-justify: inter-word;

}

.characteristics {

}


#more {
  display: none;
}

#longDescription {
  height: 150px;
  overflow-y: scroll;
  padding-right: 10px;

}

/* Scrollbar Style */


#longDescription::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius: 10px;
  background-color: transparent;

}

#longDescription::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;

}

#longDescription::-webkit-scrollbar-thumb {
  border-radius: 10px;

  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: purple;
}

#shortDescription {
  height: 20px;
  padding-right: 15px;

}

.characteristics {
  font-size: 15px;
  border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
  border: black;
  border-radius: 6px 6px 6px 6px;
  width: 25%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}


tr:hover {
  background-color: #b19cd9;
}

p {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
}



