<div style="margin: 2em">
  <mat-form-field appearance="outline" style="align-self: left">
    <mat-label>Search for a Book</mat-label>
    <input matInput placeholder="Please add book information" #input/>
    <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''">
      <mat-icon matSuffix>close</mat-icon>
    </button>
  </mat-form-field>

  <div>
    <div *ngFor="let book of books">
      <mat-card
        class="example-card inline-block"
        *ngIf="book.volumeInfo.imageLinks.thumbnail && input.value!==''"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            {{ book.volumeInfo.title }}
          </mat-card-title>
          <mat-card-subtitle
            *ngFor="let author of book.volumeInfo.authors"
          >
            {{ author }}
          </mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ book.volumeInfo.imageLinks.thumbnail }}"
          alt=""
        />
        <mat-card-content>
          <p>
            {{ book.volumeInfo.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
