<div class="container">

  <div class="profile">

    <div class="profile-image">

      <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Joseph_Fourier.jpg" style="width: 30%;" alt="">

    </div>


    <h1 class="profile-user-name">{{userProfile.username}}</h1>
    <button mat-raised-button color="primary" type="button">Editar Perfil</button>

    <div class="profile-stats">

        <li><span class="profile-stat-count">{{userComments.length}}</span> posts</li>
        <li><span class="profile-stat-count">188</span> followers</li>
        <li><span class="profile-stat-count">206</span> following</li>


    </div>

    <div class="profile-bio">
      <p class="description">Lorem ipsum dolor sit, amet sadasdasddddad dasda f faf aff afa aff consectetur adipisicing elit</p>

    </div>

  </div>

</div>


<div>
  <div id="list-th" fxLayout="row wrap">
    <div
      *ngFor="let comment of userComments; let i = index"
      [fxFlex]="userComments.length <= 2 ? 100 / 2 + '%' : 100 / 4 + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
    >
      <div class="book">
        <div class="cover">
          <button
            mat-fab
            class="like"
            color="primary"
            *ngIf="comment.liked"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon style="justify-content: center">thumb_up</mat-icon>
          </button>

          <button
            mat-fab
            class="dislike"
            color="warn"
            *ngIf="!comment.liked"
            aria-label="Example icon button with a home icon"
          >
            <mat-icon style="justify-content: center">thumb_down</mat-icon>
          </button>
          <img src="{{ comment.thumbnail }}" alt="" (click)="onClickImage(comment)"/>
        </div>
      </div>
    </div>
  </div>
</div>
