
/* ZONA DE LOS LIBROS */



.container {
  max-width: 1000px;
  margin: 0 auto;
 }


.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
  padding: 80px 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
 }

.profile-image img {
  border-radius: 50%;
}

.profile-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 32px);
}



.profile-user-name {
  display: inline-block;
  margin-right: 15px;
  font-size: 25px;
 }


.profile-stats {
  margin-top: 5px;
 }

.profile-stats li {
  display: inline-block;
  font-size: 25px;
  line-height: 1.5;
  margin-right: 20px;
  cursor: pointer;
}



.profile-bio {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

}





/* ZONA DE LOS LIBROS */

.book {
  display: inline-block;
  width: 240px;
  height: 397px;
  box-shadow: 0 0 20px rgb(206, 206, 206);
  margin: 25px;
  border: solid black;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  border-radius: 10px;
  transition: height 1s;
  margin-left: 20%;
  position: relative;
  background: linear-gradient(to bottom, #673ab7 40%,  #906bcf 100%);

}

.like {
  position: absolute;
  bottom: -5%;
  right: -5%;
  border: solid;
}


.dislike {
  position: absolute;
  bottom: -5%;
  right: -5%;
  border: solid;
}

/* .like {
  background: linear-gradient(to bottom, #77DD77 60%,#9ec5ff,90%, #673ab7 100%);
}

.dislike {
  background: linear-gradient(to bottom, #df3d4a 60%,#e461e4,90%, #673ab7 100%);
} */


.cover {
  /* border: 5px solid white; */
  overflow: hidden;
}

.cover img {
  max-width: 240px;
  height: 385px;
  border-radius: 10px;
  cursor: pointer;
 }


.book p {
  margin-top: 12px;
  font-size: 20px;
}

.book .author {
  font-size: 15px;
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }

  .book {
    margin: 49px;
  }
}

@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
