/* Profile Card */
.card-container {
  width: 300px;
  height: 430px;
  background: #fff;
  border-radius: 6px;
  /* position: absolute; */
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;

  /* transform: translate(-50%,-50%); */
  box-shadow: 0px 1px 1px 1px #000;
  overflow: hidden;
  display: inline-block;
}
.upper-container {
  height: 150px;
  background: #673ab7;
}
.image-container {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px, 100px);
}
.image-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lower-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
  font-weight: lighter;
}
.lower-container h4 {
  color: #673ab7;
  opacity: 0.6;
  font-weight: bold;
}
.lower-container p {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn {
  padding: 12px 20px;
  background: #673ab7;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.lower-container .btn:hover {
  background: transparent;
  color: #673ab7;
  border: 2px solid #673ab7;
}

/* ZONA DE LOS LIBROS */

.book {
  display: inline-block;
  width: 240px;
  height: 397px;
  box-shadow: 0 0 20px rgb(206, 206, 206);
  margin: 25px;
  border: solid black;
  padding: 10px 10px 0 10px;
  vertical-align: top;
  border-radius: 10px;
  transition: height 1s;
  margin-left: 20%;
  position: relative;
  background: linear-gradient(to bottom, #673ab7 40%,  #906bcf 100%);

}

.like {
  position: absolute;
  bottom: 0%;
  right: 0%;
  border: solid;
}


.dislike {
  position: absolute;
  bottom: 0%;
  right: 0%;
  border: solid;
}

/* .like {
  background: linear-gradient(to bottom, #77DD77 60%,#9ec5ff,90%, #673ab7 100%);
}

.dislike {
  background: linear-gradient(to bottom, #df3d4a 60%,#e461e4,90%, #673ab7 100%);
} */


.cover {
  /* border: 5px solid white; */
  overflow: hidden;
}

.cover img {
  max-width: 240px;
  height: 385px;
  border-radius: 10px;
  cursor: pointer;
 }


.book p {
  margin-top: 12px;
  font-size: 20px;
}

.book .author {
  font-size: 15px;
}

@media (max-width: 941px) {
  .container {
    max-width: 700px;
  }

  .book {
    margin: 49px;
  }
}

@media (max-width: 730px) {
  .book {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
}
